 #row-labels {
   ::v-deep .label {
     stroke-width: .5px;
     text-anchor: end;
     dominant-baseline: middle;
   }
 }

 #column-labels {
  ::v-deep .label {
    text-anchor: middle;
  }

  &.vertical ::v-deep .label {
    text-anchor: start;
  }
}
